@import "tailwindcss";
* {
  cursor: default;
}

a, button, [role="button"], select, label[for] {
  cursor: pointer !important;
}

a:hover, button:hover {
  filter: brightness(1.15);
  transition: filter 0.2s ease, transform 0.2s ease;
}